{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules":{
    "jsx-a11y/anchor-is-valid":"off",
    "react/prop-types": 0,
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  },
  "extends": [
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint"
}
